@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), url(./fonts/SFProDisplay/SFProDisplayRegular.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), url(./fonts/SFProDisplay/SFProDisplayMedium.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins/PoppinsMedium.ttf) format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
