.counter-wrapper {
    width: 15em;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 5px 5px 100px rgba(50, 50, 50, 0.1);
    padding: 25px;
    border-radius: 25px;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.stock {
    color: #C7C7C7;
    font-weight: 300;
    display: flex;
    justify-content: center;
}